{% extends 'dogs/base.html' %}
{% load my_tags %}
{% block content %}
<form method="post" enctype="multipart/form-data" class="row">
    <div class="col-6">
        <div class="card">
<!--            <div class="car_header">-->
<!--                {% if object %}-->
<!--                Редактирование собаки-->
<!--                {% else %}-->
<!--                Добавление собаки-->
<!--                {% endif %}-->
<!--            </div>-->
            {% if object %}
            <img class="card-img-top"
                 src="{{ object.photo|dogs_media }}" width="300" height="320"
                 alt="Card image cap">
            {% endif %}
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-outline-success">
                    {% if object %}
                    Сохранить
                    {% else %}
                    Добавить
                    {% endif %}

                </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}