{% load my_tags %}
{% load user_tags %}
<div class="col-4">
    <div class="card mb-0 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-center">{{ object.dog }}</h4>
        </div>
        <img class="card-img-top"
             src="{{ object.dog.photo|dogs_media }}" width="300" height="320"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title pricing-card-title">{{ object|truncatechars:30 }}</h5>
            <ul class="list-unstyled mt-3 md-4 text-start m-3">
                <li>Создан: {{ object.created }}</li>
            </ul>

            {% if object.slug %}
            <a class="btn btn-lg btn-block btn-outline-info"
               href="{% url 'reviews:review_detail' object.slug %}">Подробнее</a>

            {% if object.author == user %}
            <a class="btn btn-lg btn-block btn-outline-warning"
               href="{% url 'reviews:review_update' object.slug %}">Изменить отзыв</a>
            <a class="btn btn-lg btn-block btn-outline-danger"
               href="{% url 'reviews:review_delete' object.slug %}">Удалить отзыв</a>
            {% elif user.role == 'admin' %}
            <a class="btn btn-lg btn-block btn-outline-danger"
               href="{% url 'reviews:review_delete' object.slug %}">Удалить отзыв</a>
            {% endif %}
            {% else %}
            <a class="btn btn-lg btn-block btn-outline-secondary disabled" href="#">Черновик</a>
            {% endif %}
        </div>
    </div>
</div>